<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixliu.credit.user.mapper.SysRoleDataScopeMapper">
  <resultMap id="BaseResultMap" type="com.sixliu.credit.user.entity.SysRoleDataScopeKey">
    <id column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <id column="ctrl_type" jdbcType="VARCHAR" property="ctrlType" />
    <id column="ctrl_data" jdbcType="VARCHAR" property="ctrlData" />
    <id column="ctrl_permi" jdbcType="VARCHAR" property="ctrlPermi" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    role_code, ctrl_type, ctrl_data, ctrl_permi
  </sql>
  <select id="selectByExample" parameterType="com.sixliu.credit.user.entity.SysRoleDataScopeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_role_data_scope
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sixliu.credit.user.entity.SysRoleDataScopeKey">
    delete from sys_role_data_scope
    where role_code = #{roleCode,jdbcType=VARCHAR}
      and ctrl_type = #{ctrlType,jdbcType=VARCHAR}
      and ctrl_data = #{ctrlData,jdbcType=VARCHAR}
      and ctrl_permi = #{ctrlPermi,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sixliu.credit.user.entity.SysRoleDataScopeExample">
    delete from sys_role_data_scope
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sixliu.credit.user.entity.SysRoleDataScopeKey">
    insert into sys_role_data_scope (role_code, ctrl_type, ctrl_data, 
      ctrl_permi)
    values (#{roleCode,jdbcType=VARCHAR}, #{ctrlType,jdbcType=VARCHAR}, #{ctrlData,jdbcType=VARCHAR}, 
      #{ctrlPermi,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sixliu.credit.user.entity.SysRoleDataScopeKey">
    insert into sys_role_data_scope
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleCode != null">
        role_code,
      </if>
      <if test="ctrlType != null">
        ctrl_type,
      </if>
      <if test="ctrlData != null">
        ctrl_data,
      </if>
      <if test="ctrlPermi != null">
        ctrl_permi,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleCode != null">
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="ctrlType != null">
        #{ctrlType,jdbcType=VARCHAR},
      </if>
      <if test="ctrlData != null">
        #{ctrlData,jdbcType=VARCHAR},
      </if>
      <if test="ctrlPermi != null">
        #{ctrlPermi,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sixliu.credit.user.entity.SysRoleDataScopeExample" resultType="java.lang.Long">
    select count(*) from sys_role_data_scope
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_role_data_scope
    <set>
      <if test="record.roleCode != null">
        role_code = #{record.roleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.ctrlType != null">
        ctrl_type = #{record.ctrlType,jdbcType=VARCHAR},
      </if>
      <if test="record.ctrlData != null">
        ctrl_data = #{record.ctrlData,jdbcType=VARCHAR},
      </if>
      <if test="record.ctrlPermi != null">
        ctrl_permi = #{record.ctrlPermi,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_role_data_scope
    set role_code = #{record.roleCode,jdbcType=VARCHAR},
      ctrl_type = #{record.ctrlType,jdbcType=VARCHAR},
      ctrl_data = #{record.ctrlData,jdbcType=VARCHAR},
      ctrl_permi = #{record.ctrlPermi,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>