<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixliu.credit.user.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.sixliu.credit.user.entity.SysUser">
    <id column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="login_code" jdbcType="VARCHAR" property="loginCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="wx_openid" jdbcType="VARCHAR" property="wxOpenid" />
    <result column="mobile_imei" jdbcType="VARCHAR" property="mobileImei" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="ref_code" jdbcType="VARCHAR" property="refCode" />
    <result column="ref_name" jdbcType="VARCHAR" property="refName" />
    <result column="mgr_type" jdbcType="CHAR" property="mgrType" />
    <result column="pwd_security_level" jdbcType="DECIMAL" property="pwdSecurityLevel" />
    <result column="pwd_update_date" jdbcType="TIMESTAMP" property="pwdUpdateDate" />
    <result column="pwd_update_record" jdbcType="VARCHAR" property="pwdUpdateRecord" />
    <result column="pwd_question" jdbcType="VARCHAR" property="pwdQuestion" />
    <result column="pwd_question_answer" jdbcType="VARCHAR" property="pwdQuestionAnswer" />
    <result column="pwd_question_2" jdbcType="VARCHAR" property="pwdQuestion2" />
    <result column="pwd_question_answer_2" jdbcType="VARCHAR" property="pwdQuestionAnswer2" />
    <result column="pwd_question_3" jdbcType="VARCHAR" property="pwdQuestion3" />
    <result column="pwd_question_answer_3" jdbcType="VARCHAR" property="pwdQuestionAnswer3" />
    <result column="pwd_quest_update_date" jdbcType="TIMESTAMP" property="pwdQuestUpdateDate" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate" />
    <result column="freeze_date" jdbcType="TIMESTAMP" property="freezeDate" />
    <result column="freeze_cause" jdbcType="VARCHAR" property="freezeCause" />
    <result column="user_weight" jdbcType="DECIMAL" property="userWeight" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="corp_code" jdbcType="VARCHAR" property="corpCode" />
    <result column="corp_name" jdbcType="VARCHAR" property="corpName" />
    <result column="extend_s1" jdbcType="VARCHAR" property="extendS1" />
    <result column="extend_s2" jdbcType="VARCHAR" property="extendS2" />
    <result column="extend_s3" jdbcType="VARCHAR" property="extendS3" />
    <result column="extend_s4" jdbcType="VARCHAR" property="extendS4" />
    <result column="extend_s5" jdbcType="VARCHAR" property="extendS5" />
    <result column="extend_s6" jdbcType="VARCHAR" property="extendS6" />
    <result column="extend_s7" jdbcType="VARCHAR" property="extendS7" />
    <result column="extend_s8" jdbcType="VARCHAR" property="extendS8" />
    <result column="extend_i1" jdbcType="DECIMAL" property="extendI1" />
    <result column="extend_i2" jdbcType="DECIMAL" property="extendI2" />
    <result column="extend_i3" jdbcType="DECIMAL" property="extendI3" />
    <result column="extend_i4" jdbcType="DECIMAL" property="extendI4" />
    <result column="extend_f1" jdbcType="DECIMAL" property="extendF1" />
    <result column="extend_f2" jdbcType="DECIMAL" property="extendF2" />
    <result column="extend_f3" jdbcType="DECIMAL" property="extendF3" />
    <result column="extend_f4" jdbcType="DECIMAL" property="extendF4" />
    <result column="extend_d1" jdbcType="TIMESTAMP" property="extendD1" />
    <result column="extend_d2" jdbcType="TIMESTAMP" property="extendD2" />
    <result column="extend_d3" jdbcType="TIMESTAMP" property="extendD3" />
    <result column="extend_d4" jdbcType="TIMESTAMP" property="extendD4" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_code, login_code, user_name, password, email, mobile, phone, sex, avatar, sign, 
    wx_openid, mobile_imei, user_type, ref_code, ref_name, mgr_type, pwd_security_level, 
    pwd_update_date, pwd_update_record, pwd_question, pwd_question_answer, pwd_question_2, 
    pwd_question_answer_2, pwd_question_3, pwd_question_answer_3, pwd_quest_update_date, 
    last_login_ip, last_login_date, freeze_date, freeze_cause, user_weight, status, create_by, 
    create_date, update_by, update_date, remarks, corp_code, corp_name, extend_s1, extend_s2, 
    extend_s3, extend_s4, extend_s5, extend_s6, extend_s7, extend_s8, extend_i1, extend_i2, 
    extend_i3, extend_i4, extend_f1, extend_f2, extend_f3, extend_f4, extend_d1, extend_d2, 
    extend_d3, extend_d4
  </sql>
  <select id="selectByExample" parameterType="com.sixliu.credit.user.entity.SysUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where user_code = #{userCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_user
    where user_code = #{userCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sixliu.credit.user.entity.SysUserExample">
    delete from sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sixliu.credit.user.entity.SysUser">
    insert into sys_user (user_code, login_code, user_name, 
      password, email, mobile, 
      phone, sex, avatar, sign, 
      wx_openid, mobile_imei, user_type, 
      ref_code, ref_name, mgr_type, 
      pwd_security_level, pwd_update_date, pwd_update_record, 
      pwd_question, pwd_question_answer, pwd_question_2, 
      pwd_question_answer_2, pwd_question_3, pwd_question_answer_3, 
      pwd_quest_update_date, last_login_ip, last_login_date, 
      freeze_date, freeze_cause, user_weight, 
      status, create_by, create_date, 
      update_by, update_date, remarks, 
      corp_code, corp_name, extend_s1, 
      extend_s2, extend_s3, extend_s4, 
      extend_s5, extend_s6, extend_s7, 
      extend_s8, extend_i1, extend_i2, 
      extend_i3, extend_i4, extend_f1, 
      extend_f2, extend_f3, extend_f4, 
      extend_d1, extend_d2, extend_d3, 
      extend_d4)
    values (#{userCode,jdbcType=VARCHAR}, #{loginCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{avatar,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}, 
      #{wxOpenid,jdbcType=VARCHAR}, #{mobileImei,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, 
      #{refCode,jdbcType=VARCHAR}, #{refName,jdbcType=VARCHAR}, #{mgrType,jdbcType=CHAR}, 
      #{pwdSecurityLevel,jdbcType=DECIMAL}, #{pwdUpdateDate,jdbcType=TIMESTAMP}, #{pwdUpdateRecord,jdbcType=VARCHAR}, 
      #{pwdQuestion,jdbcType=VARCHAR}, #{pwdQuestionAnswer,jdbcType=VARCHAR}, #{pwdQuestion2,jdbcType=VARCHAR}, 
      #{pwdQuestionAnswer2,jdbcType=VARCHAR}, #{pwdQuestion3,jdbcType=VARCHAR}, #{pwdQuestionAnswer3,jdbcType=VARCHAR}, 
      #{pwdQuestUpdateDate,jdbcType=TIMESTAMP}, #{lastLoginIp,jdbcType=VARCHAR}, #{lastLoginDate,jdbcType=TIMESTAMP}, 
      #{freezeDate,jdbcType=TIMESTAMP}, #{freezeCause,jdbcType=VARCHAR}, #{userWeight,jdbcType=DECIMAL}, 
      #{status,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{corpCode,jdbcType=VARCHAR}, #{corpName,jdbcType=VARCHAR}, #{extendS1,jdbcType=VARCHAR}, 
      #{extendS2,jdbcType=VARCHAR}, #{extendS3,jdbcType=VARCHAR}, #{extendS4,jdbcType=VARCHAR}, 
      #{extendS5,jdbcType=VARCHAR}, #{extendS6,jdbcType=VARCHAR}, #{extendS7,jdbcType=VARCHAR}, 
      #{extendS8,jdbcType=VARCHAR}, #{extendI1,jdbcType=DECIMAL}, #{extendI2,jdbcType=DECIMAL}, 
      #{extendI3,jdbcType=DECIMAL}, #{extendI4,jdbcType=DECIMAL}, #{extendF1,jdbcType=DECIMAL}, 
      #{extendF2,jdbcType=DECIMAL}, #{extendF3,jdbcType=DECIMAL}, #{extendF4,jdbcType=DECIMAL}, 
      #{extendD1,jdbcType=TIMESTAMP}, #{extendD2,jdbcType=TIMESTAMP}, #{extendD3,jdbcType=TIMESTAMP}, 
      #{extendD4,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sixliu.credit.user.entity.SysUser">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        user_code,
      </if>
      <if test="loginCode != null">
        login_code,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="wxOpenid != null">
        wx_openid,
      </if>
      <if test="mobileImei != null">
        mobile_imei,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="refCode != null">
        ref_code,
      </if>
      <if test="refName != null">
        ref_name,
      </if>
      <if test="mgrType != null">
        mgr_type,
      </if>
      <if test="pwdSecurityLevel != null">
        pwd_security_level,
      </if>
      <if test="pwdUpdateDate != null">
        pwd_update_date,
      </if>
      <if test="pwdUpdateRecord != null">
        pwd_update_record,
      </if>
      <if test="pwdQuestion != null">
        pwd_question,
      </if>
      <if test="pwdQuestionAnswer != null">
        pwd_question_answer,
      </if>
      <if test="pwdQuestion2 != null">
        pwd_question_2,
      </if>
      <if test="pwdQuestionAnswer2 != null">
        pwd_question_answer_2,
      </if>
      <if test="pwdQuestion3 != null">
        pwd_question_3,
      </if>
      <if test="pwdQuestionAnswer3 != null">
        pwd_question_answer_3,
      </if>
      <if test="pwdQuestUpdateDate != null">
        pwd_quest_update_date,
      </if>
      <if test="lastLoginIp != null">
        last_login_ip,
      </if>
      <if test="lastLoginDate != null">
        last_login_date,
      </if>
      <if test="freezeDate != null">
        freeze_date,
      </if>
      <if test="freezeCause != null">
        freeze_cause,
      </if>
      <if test="userWeight != null">
        user_weight,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="corpCode != null">
        corp_code,
      </if>
      <if test="corpName != null">
        corp_name,
      </if>
      <if test="extendS1 != null">
        extend_s1,
      </if>
      <if test="extendS2 != null">
        extend_s2,
      </if>
      <if test="extendS3 != null">
        extend_s3,
      </if>
      <if test="extendS4 != null">
        extend_s4,
      </if>
      <if test="extendS5 != null">
        extend_s5,
      </if>
      <if test="extendS6 != null">
        extend_s6,
      </if>
      <if test="extendS7 != null">
        extend_s7,
      </if>
      <if test="extendS8 != null">
        extend_s8,
      </if>
      <if test="extendI1 != null">
        extend_i1,
      </if>
      <if test="extendI2 != null">
        extend_i2,
      </if>
      <if test="extendI3 != null">
        extend_i3,
      </if>
      <if test="extendI4 != null">
        extend_i4,
      </if>
      <if test="extendF1 != null">
        extend_f1,
      </if>
      <if test="extendF2 != null">
        extend_f2,
      </if>
      <if test="extendF3 != null">
        extend_f3,
      </if>
      <if test="extendF4 != null">
        extend_f4,
      </if>
      <if test="extendD1 != null">
        extend_d1,
      </if>
      <if test="extendD2 != null">
        extend_d2,
      </if>
      <if test="extendD3 != null">
        extend_d3,
      </if>
      <if test="extendD4 != null">
        extend_d4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="loginCode != null">
        #{loginCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenid != null">
        #{wxOpenid,jdbcType=VARCHAR},
      </if>
      <if test="mobileImei != null">
        #{mobileImei,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="refCode != null">
        #{refCode,jdbcType=VARCHAR},
      </if>
      <if test="refName != null">
        #{refName,jdbcType=VARCHAR},
      </if>
      <if test="mgrType != null">
        #{mgrType,jdbcType=CHAR},
      </if>
      <if test="pwdSecurityLevel != null">
        #{pwdSecurityLevel,jdbcType=DECIMAL},
      </if>
      <if test="pwdUpdateDate != null">
        #{pwdUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pwdUpdateRecord != null">
        #{pwdUpdateRecord,jdbcType=VARCHAR},
      </if>
      <if test="pwdQuestion != null">
        #{pwdQuestion,jdbcType=VARCHAR},
      </if>
      <if test="pwdQuestionAnswer != null">
        #{pwdQuestionAnswer,jdbcType=VARCHAR},
      </if>
      <if test="pwdQuestion2 != null">
        #{pwdQuestion2,jdbcType=VARCHAR},
      </if>
      <if test="pwdQuestionAnswer2 != null">
        #{pwdQuestionAnswer2,jdbcType=VARCHAR},
      </if>
      <if test="pwdQuestion3 != null">
        #{pwdQuestion3,jdbcType=VARCHAR},
      </if>
      <if test="pwdQuestionAnswer3 != null">
        #{pwdQuestionAnswer3,jdbcType=VARCHAR},
      </if>
      <if test="pwdQuestUpdateDate != null">
        #{pwdQuestUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null">
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginDate != null">
        #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="freezeDate != null">
        #{freezeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="freezeCause != null">
        #{freezeCause,jdbcType=VARCHAR},
      </if>
      <if test="userWeight != null">
        #{userWeight,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="corpCode != null">
        #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="corpName != null">
        #{corpName,jdbcType=VARCHAR},
      </if>
      <if test="extendS1 != null">
        #{extendS1,jdbcType=VARCHAR},
      </if>
      <if test="extendS2 != null">
        #{extendS2,jdbcType=VARCHAR},
      </if>
      <if test="extendS3 != null">
        #{extendS3,jdbcType=VARCHAR},
      </if>
      <if test="extendS4 != null">
        #{extendS4,jdbcType=VARCHAR},
      </if>
      <if test="extendS5 != null">
        #{extendS5,jdbcType=VARCHAR},
      </if>
      <if test="extendS6 != null">
        #{extendS6,jdbcType=VARCHAR},
      </if>
      <if test="extendS7 != null">
        #{extendS7,jdbcType=VARCHAR},
      </if>
      <if test="extendS8 != null">
        #{extendS8,jdbcType=VARCHAR},
      </if>
      <if test="extendI1 != null">
        #{extendI1,jdbcType=DECIMAL},
      </if>
      <if test="extendI2 != null">
        #{extendI2,jdbcType=DECIMAL},
      </if>
      <if test="extendI3 != null">
        #{extendI3,jdbcType=DECIMAL},
      </if>
      <if test="extendI4 != null">
        #{extendI4,jdbcType=DECIMAL},
      </if>
      <if test="extendF1 != null">
        #{extendF1,jdbcType=DECIMAL},
      </if>
      <if test="extendF2 != null">
        #{extendF2,jdbcType=DECIMAL},
      </if>
      <if test="extendF3 != null">
        #{extendF3,jdbcType=DECIMAL},
      </if>
      <if test="extendF4 != null">
        #{extendF4,jdbcType=DECIMAL},
      </if>
      <if test="extendD1 != null">
        #{extendD1,jdbcType=TIMESTAMP},
      </if>
      <if test="extendD2 != null">
        #{extendD2,jdbcType=TIMESTAMP},
      </if>
      <if test="extendD3 != null">
        #{extendD3,jdbcType=TIMESTAMP},
      </if>
      <if test="extendD4 != null">
        #{extendD4,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sixliu.credit.user.entity.SysUserExample" resultType="java.lang.Long">
    select count(*) from sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_user
    <set>
      <if test="record.userCode != null">
        user_code = #{record.userCode,jdbcType=VARCHAR},
      </if>
      <if test="record.loginCode != null">
        login_code = #{record.loginCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=CHAR},
      </if>
      <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.sign != null">
        sign = #{record.sign,jdbcType=VARCHAR},
      </if>
      <if test="record.wxOpenid != null">
        wx_openid = #{record.wxOpenid,jdbcType=VARCHAR},
      </if>
      <if test="record.mobileImei != null">
        mobile_imei = #{record.mobileImei,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null">
        user_type = #{record.userType,jdbcType=VARCHAR},
      </if>
      <if test="record.refCode != null">
        ref_code = #{record.refCode,jdbcType=VARCHAR},
      </if>
      <if test="record.refName != null">
        ref_name = #{record.refName,jdbcType=VARCHAR},
      </if>
      <if test="record.mgrType != null">
        mgr_type = #{record.mgrType,jdbcType=CHAR},
      </if>
      <if test="record.pwdSecurityLevel != null">
        pwd_security_level = #{record.pwdSecurityLevel,jdbcType=DECIMAL},
      </if>
      <if test="record.pwdUpdateDate != null">
        pwd_update_date = #{record.pwdUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pwdUpdateRecord != null">
        pwd_update_record = #{record.pwdUpdateRecord,jdbcType=VARCHAR},
      </if>
      <if test="record.pwdQuestion != null">
        pwd_question = #{record.pwdQuestion,jdbcType=VARCHAR},
      </if>
      <if test="record.pwdQuestionAnswer != null">
        pwd_question_answer = #{record.pwdQuestionAnswer,jdbcType=VARCHAR},
      </if>
      <if test="record.pwdQuestion2 != null">
        pwd_question_2 = #{record.pwdQuestion2,jdbcType=VARCHAR},
      </if>
      <if test="record.pwdQuestionAnswer2 != null">
        pwd_question_answer_2 = #{record.pwdQuestionAnswer2,jdbcType=VARCHAR},
      </if>
      <if test="record.pwdQuestion3 != null">
        pwd_question_3 = #{record.pwdQuestion3,jdbcType=VARCHAR},
      </if>
      <if test="record.pwdQuestionAnswer3 != null">
        pwd_question_answer_3 = #{record.pwdQuestionAnswer3,jdbcType=VARCHAR},
      </if>
      <if test="record.pwdQuestUpdateDate != null">
        pwd_quest_update_date = #{record.pwdQuestUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastLoginIp != null">
        last_login_ip = #{record.lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="record.lastLoginDate != null">
        last_login_date = #{record.lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.freezeDate != null">
        freeze_date = #{record.freezeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.freezeCause != null">
        freeze_cause = #{record.freezeCause,jdbcType=VARCHAR},
      </if>
      <if test="record.userWeight != null">
        user_weight = #{record.userWeight,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.corpCode != null">
        corp_code = #{record.corpCode,jdbcType=VARCHAR},
      </if>
      <if test="record.corpName != null">
        corp_name = #{record.corpName,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS1 != null">
        extend_s1 = #{record.extendS1,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS2 != null">
        extend_s2 = #{record.extendS2,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS3 != null">
        extend_s3 = #{record.extendS3,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS4 != null">
        extend_s4 = #{record.extendS4,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS5 != null">
        extend_s5 = #{record.extendS5,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS6 != null">
        extend_s6 = #{record.extendS6,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS7 != null">
        extend_s7 = #{record.extendS7,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS8 != null">
        extend_s8 = #{record.extendS8,jdbcType=VARCHAR},
      </if>
      <if test="record.extendI1 != null">
        extend_i1 = #{record.extendI1,jdbcType=DECIMAL},
      </if>
      <if test="record.extendI2 != null">
        extend_i2 = #{record.extendI2,jdbcType=DECIMAL},
      </if>
      <if test="record.extendI3 != null">
        extend_i3 = #{record.extendI3,jdbcType=DECIMAL},
      </if>
      <if test="record.extendI4 != null">
        extend_i4 = #{record.extendI4,jdbcType=DECIMAL},
      </if>
      <if test="record.extendF1 != null">
        extend_f1 = #{record.extendF1,jdbcType=DECIMAL},
      </if>
      <if test="record.extendF2 != null">
        extend_f2 = #{record.extendF2,jdbcType=DECIMAL},
      </if>
      <if test="record.extendF3 != null">
        extend_f3 = #{record.extendF3,jdbcType=DECIMAL},
      </if>
      <if test="record.extendF4 != null">
        extend_f4 = #{record.extendF4,jdbcType=DECIMAL},
      </if>
      <if test="record.extendD1 != null">
        extend_d1 = #{record.extendD1,jdbcType=TIMESTAMP},
      </if>
      <if test="record.extendD2 != null">
        extend_d2 = #{record.extendD2,jdbcType=TIMESTAMP},
      </if>
      <if test="record.extendD3 != null">
        extend_d3 = #{record.extendD3,jdbcType=TIMESTAMP},
      </if>
      <if test="record.extendD4 != null">
        extend_d4 = #{record.extendD4,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_user
    set user_code = #{record.userCode,jdbcType=VARCHAR},
      login_code = #{record.loginCode,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=CHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      sign = #{record.sign,jdbcType=VARCHAR},
      wx_openid = #{record.wxOpenid,jdbcType=VARCHAR},
      mobile_imei = #{record.mobileImei,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=VARCHAR},
      ref_code = #{record.refCode,jdbcType=VARCHAR},
      ref_name = #{record.refName,jdbcType=VARCHAR},
      mgr_type = #{record.mgrType,jdbcType=CHAR},
      pwd_security_level = #{record.pwdSecurityLevel,jdbcType=DECIMAL},
      pwd_update_date = #{record.pwdUpdateDate,jdbcType=TIMESTAMP},
      pwd_update_record = #{record.pwdUpdateRecord,jdbcType=VARCHAR},
      pwd_question = #{record.pwdQuestion,jdbcType=VARCHAR},
      pwd_question_answer = #{record.pwdQuestionAnswer,jdbcType=VARCHAR},
      pwd_question_2 = #{record.pwdQuestion2,jdbcType=VARCHAR},
      pwd_question_answer_2 = #{record.pwdQuestionAnswer2,jdbcType=VARCHAR},
      pwd_question_3 = #{record.pwdQuestion3,jdbcType=VARCHAR},
      pwd_question_answer_3 = #{record.pwdQuestionAnswer3,jdbcType=VARCHAR},
      pwd_quest_update_date = #{record.pwdQuestUpdateDate,jdbcType=TIMESTAMP},
      last_login_ip = #{record.lastLoginIp,jdbcType=VARCHAR},
      last_login_date = #{record.lastLoginDate,jdbcType=TIMESTAMP},
      freeze_date = #{record.freezeDate,jdbcType=TIMESTAMP},
      freeze_cause = #{record.freezeCause,jdbcType=VARCHAR},
      user_weight = #{record.userWeight,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=CHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      corp_code = #{record.corpCode,jdbcType=VARCHAR},
      corp_name = #{record.corpName,jdbcType=VARCHAR},
      extend_s1 = #{record.extendS1,jdbcType=VARCHAR},
      extend_s2 = #{record.extendS2,jdbcType=VARCHAR},
      extend_s3 = #{record.extendS3,jdbcType=VARCHAR},
      extend_s4 = #{record.extendS4,jdbcType=VARCHAR},
      extend_s5 = #{record.extendS5,jdbcType=VARCHAR},
      extend_s6 = #{record.extendS6,jdbcType=VARCHAR},
      extend_s7 = #{record.extendS7,jdbcType=VARCHAR},
      extend_s8 = #{record.extendS8,jdbcType=VARCHAR},
      extend_i1 = #{record.extendI1,jdbcType=DECIMAL},
      extend_i2 = #{record.extendI2,jdbcType=DECIMAL},
      extend_i3 = #{record.extendI3,jdbcType=DECIMAL},
      extend_i4 = #{record.extendI4,jdbcType=DECIMAL},
      extend_f1 = #{record.extendF1,jdbcType=DECIMAL},
      extend_f2 = #{record.extendF2,jdbcType=DECIMAL},
      extend_f3 = #{record.extendF3,jdbcType=DECIMAL},
      extend_f4 = #{record.extendF4,jdbcType=DECIMAL},
      extend_d1 = #{record.extendD1,jdbcType=TIMESTAMP},
      extend_d2 = #{record.extendD2,jdbcType=TIMESTAMP},
      extend_d3 = #{record.extendD3,jdbcType=TIMESTAMP},
      extend_d4 = #{record.extendD4,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sixliu.credit.user.entity.SysUser">
    update sys_user
    <set>
      <if test="loginCode != null">
        login_code = #{loginCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenid != null">
        wx_openid = #{wxOpenid,jdbcType=VARCHAR},
      </if>
      <if test="mobileImei != null">
        mobile_imei = #{mobileImei,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="refCode != null">
        ref_code = #{refCode,jdbcType=VARCHAR},
      </if>
      <if test="refName != null">
        ref_name = #{refName,jdbcType=VARCHAR},
      </if>
      <if test="mgrType != null">
        mgr_type = #{mgrType,jdbcType=CHAR},
      </if>
      <if test="pwdSecurityLevel != null">
        pwd_security_level = #{pwdSecurityLevel,jdbcType=DECIMAL},
      </if>
      <if test="pwdUpdateDate != null">
        pwd_update_date = #{pwdUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pwdUpdateRecord != null">
        pwd_update_record = #{pwdUpdateRecord,jdbcType=VARCHAR},
      </if>
      <if test="pwdQuestion != null">
        pwd_question = #{pwdQuestion,jdbcType=VARCHAR},
      </if>
      <if test="pwdQuestionAnswer != null">
        pwd_question_answer = #{pwdQuestionAnswer,jdbcType=VARCHAR},
      </if>
      <if test="pwdQuestion2 != null">
        pwd_question_2 = #{pwdQuestion2,jdbcType=VARCHAR},
      </if>
      <if test="pwdQuestionAnswer2 != null">
        pwd_question_answer_2 = #{pwdQuestionAnswer2,jdbcType=VARCHAR},
      </if>
      <if test="pwdQuestion3 != null">
        pwd_question_3 = #{pwdQuestion3,jdbcType=VARCHAR},
      </if>
      <if test="pwdQuestionAnswer3 != null">
        pwd_question_answer_3 = #{pwdQuestionAnswer3,jdbcType=VARCHAR},
      </if>
      <if test="pwdQuestUpdateDate != null">
        pwd_quest_update_date = #{pwdQuestUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null">
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginDate != null">
        last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="freezeDate != null">
        freeze_date = #{freezeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="freezeCause != null">
        freeze_cause = #{freezeCause,jdbcType=VARCHAR},
      </if>
      <if test="userWeight != null">
        user_weight = #{userWeight,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="corpCode != null">
        corp_code = #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="corpName != null">
        corp_name = #{corpName,jdbcType=VARCHAR},
      </if>
      <if test="extendS1 != null">
        extend_s1 = #{extendS1,jdbcType=VARCHAR},
      </if>
      <if test="extendS2 != null">
        extend_s2 = #{extendS2,jdbcType=VARCHAR},
      </if>
      <if test="extendS3 != null">
        extend_s3 = #{extendS3,jdbcType=VARCHAR},
      </if>
      <if test="extendS4 != null">
        extend_s4 = #{extendS4,jdbcType=VARCHAR},
      </if>
      <if test="extendS5 != null">
        extend_s5 = #{extendS5,jdbcType=VARCHAR},
      </if>
      <if test="extendS6 != null">
        extend_s6 = #{extendS6,jdbcType=VARCHAR},
      </if>
      <if test="extendS7 != null">
        extend_s7 = #{extendS7,jdbcType=VARCHAR},
      </if>
      <if test="extendS8 != null">
        extend_s8 = #{extendS8,jdbcType=VARCHAR},
      </if>
      <if test="extendI1 != null">
        extend_i1 = #{extendI1,jdbcType=DECIMAL},
      </if>
      <if test="extendI2 != null">
        extend_i2 = #{extendI2,jdbcType=DECIMAL},
      </if>
      <if test="extendI3 != null">
        extend_i3 = #{extendI3,jdbcType=DECIMAL},
      </if>
      <if test="extendI4 != null">
        extend_i4 = #{extendI4,jdbcType=DECIMAL},
      </if>
      <if test="extendF1 != null">
        extend_f1 = #{extendF1,jdbcType=DECIMAL},
      </if>
      <if test="extendF2 != null">
        extend_f2 = #{extendF2,jdbcType=DECIMAL},
      </if>
      <if test="extendF3 != null">
        extend_f3 = #{extendF3,jdbcType=DECIMAL},
      </if>
      <if test="extendF4 != null">
        extend_f4 = #{extendF4,jdbcType=DECIMAL},
      </if>
      <if test="extendD1 != null">
        extend_d1 = #{extendD1,jdbcType=TIMESTAMP},
      </if>
      <if test="extendD2 != null">
        extend_d2 = #{extendD2,jdbcType=TIMESTAMP},
      </if>
      <if test="extendD3 != null">
        extend_d3 = #{extendD3,jdbcType=TIMESTAMP},
      </if>
      <if test="extendD4 != null">
        extend_d4 = #{extendD4,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_code = #{userCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sixliu.credit.user.entity.SysUser">
    update sys_user
    set login_code = #{loginCode,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      wx_openid = #{wxOpenid,jdbcType=VARCHAR},
      mobile_imei = #{mobileImei,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      ref_code = #{refCode,jdbcType=VARCHAR},
      ref_name = #{refName,jdbcType=VARCHAR},
      mgr_type = #{mgrType,jdbcType=CHAR},
      pwd_security_level = #{pwdSecurityLevel,jdbcType=DECIMAL},
      pwd_update_date = #{pwdUpdateDate,jdbcType=TIMESTAMP},
      pwd_update_record = #{pwdUpdateRecord,jdbcType=VARCHAR},
      pwd_question = #{pwdQuestion,jdbcType=VARCHAR},
      pwd_question_answer = #{pwdQuestionAnswer,jdbcType=VARCHAR},
      pwd_question_2 = #{pwdQuestion2,jdbcType=VARCHAR},
      pwd_question_answer_2 = #{pwdQuestionAnswer2,jdbcType=VARCHAR},
      pwd_question_3 = #{pwdQuestion3,jdbcType=VARCHAR},
      pwd_question_answer_3 = #{pwdQuestionAnswer3,jdbcType=VARCHAR},
      pwd_quest_update_date = #{pwdQuestUpdateDate,jdbcType=TIMESTAMP},
      last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},
      freeze_date = #{freezeDate,jdbcType=TIMESTAMP},
      freeze_cause = #{freezeCause,jdbcType=VARCHAR},
      user_weight = #{userWeight,jdbcType=DECIMAL},
      status = #{status,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      corp_code = #{corpCode,jdbcType=VARCHAR},
      corp_name = #{corpName,jdbcType=VARCHAR},
      extend_s1 = #{extendS1,jdbcType=VARCHAR},
      extend_s2 = #{extendS2,jdbcType=VARCHAR},
      extend_s3 = #{extendS3,jdbcType=VARCHAR},
      extend_s4 = #{extendS4,jdbcType=VARCHAR},
      extend_s5 = #{extendS5,jdbcType=VARCHAR},
      extend_s6 = #{extendS6,jdbcType=VARCHAR},
      extend_s7 = #{extendS7,jdbcType=VARCHAR},
      extend_s8 = #{extendS8,jdbcType=VARCHAR},
      extend_i1 = #{extendI1,jdbcType=DECIMAL},
      extend_i2 = #{extendI2,jdbcType=DECIMAL},
      extend_i3 = #{extendI3,jdbcType=DECIMAL},
      extend_i4 = #{extendI4,jdbcType=DECIMAL},
      extend_f1 = #{extendF1,jdbcType=DECIMAL},
      extend_f2 = #{extendF2,jdbcType=DECIMAL},
      extend_f3 = #{extendF3,jdbcType=DECIMAL},
      extend_f4 = #{extendF4,jdbcType=DECIMAL},
      extend_d1 = #{extendD1,jdbcType=TIMESTAMP},
      extend_d2 = #{extendD2,jdbcType=TIMESTAMP},
      extend_d3 = #{extendD3,jdbcType=TIMESTAMP},
      extend_d4 = #{extendD4,jdbcType=TIMESTAMP}
    where user_code = #{userCode,jdbcType=VARCHAR}
  </update>
</mapper>