<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixliu.credit.user.mapper.SysDictDataMapper">
  <resultMap id="BaseResultMap" type="com.sixliu.credit.user.entity.SysDictData">
    <id column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="parent_codes" jdbcType="VARCHAR" property="parentCodes" />
    <result column="tree_sort" jdbcType="DECIMAL" property="treeSort" />
    <result column="tree_sorts" jdbcType="VARCHAR" property="treeSorts" />
    <result column="tree_leaf" jdbcType="CHAR" property="treeLeaf" />
    <result column="tree_level" jdbcType="DECIMAL" property="treeLevel" />
    <result column="tree_names" jdbcType="VARCHAR" property="treeNames" />
    <result column="dict_label" jdbcType="VARCHAR" property="dictLabel" />
    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />
    <result column="dict_type" jdbcType="VARCHAR" property="dictType" />
    <result column="is_sys" jdbcType="CHAR" property="isSys" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="css_style" jdbcType="VARCHAR" property="cssStyle" />
    <result column="css_class" jdbcType="VARCHAR" property="cssClass" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="corp_code" jdbcType="VARCHAR" property="corpCode" />
    <result column="corp_name" jdbcType="VARCHAR" property="corpName" />
    <result column="extend_s1" jdbcType="VARCHAR" property="extendS1" />
    <result column="extend_s2" jdbcType="VARCHAR" property="extendS2" />
    <result column="extend_s3" jdbcType="VARCHAR" property="extendS3" />
    <result column="extend_s4" jdbcType="VARCHAR" property="extendS4" />
    <result column="extend_s5" jdbcType="VARCHAR" property="extendS5" />
    <result column="extend_s6" jdbcType="VARCHAR" property="extendS6" />
    <result column="extend_s7" jdbcType="VARCHAR" property="extendS7" />
    <result column="extend_s8" jdbcType="VARCHAR" property="extendS8" />
    <result column="extend_i1" jdbcType="DECIMAL" property="extendI1" />
    <result column="extend_i2" jdbcType="DECIMAL" property="extendI2" />
    <result column="extend_i3" jdbcType="DECIMAL" property="extendI3" />
    <result column="extend_i4" jdbcType="DECIMAL" property="extendI4" />
    <result column="extend_f1" jdbcType="DECIMAL" property="extendF1" />
    <result column="extend_f2" jdbcType="DECIMAL" property="extendF2" />
    <result column="extend_f3" jdbcType="DECIMAL" property="extendF3" />
    <result column="extend_f4" jdbcType="DECIMAL" property="extendF4" />
    <result column="extend_d1" jdbcType="TIMESTAMP" property="extendD1" />
    <result column="extend_d2" jdbcType="TIMESTAMP" property="extendD2" />
    <result column="extend_d3" jdbcType="TIMESTAMP" property="extendD3" />
    <result column="extend_d4" jdbcType="TIMESTAMP" property="extendD4" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dict_code, parent_code, parent_codes, tree_sort, tree_sorts, tree_leaf, tree_level, 
    tree_names, dict_label, dict_value, dict_type, is_sys, description, css_style, css_class, 
    status, create_by, create_date, update_by, update_date, remarks, corp_code, corp_name, 
    extend_s1, extend_s2, extend_s3, extend_s4, extend_s5, extend_s6, extend_s7, extend_s8, 
    extend_i1, extend_i2, extend_i3, extend_i4, extend_f1, extend_f2, extend_f3, extend_f4, 
    extend_d1, extend_d2, extend_d3, extend_d4
  </sql>
  <select id="selectByExample" parameterType="com.sixliu.credit.user.entity.SysDictDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_dict_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dict_data
    where dict_code = #{dictCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_dict_data
    where dict_code = #{dictCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sixliu.credit.user.entity.SysDictDataExample">
    delete from sys_dict_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sixliu.credit.user.entity.SysDictData">
    insert into sys_dict_data (dict_code, parent_code, parent_codes, 
      tree_sort, tree_sorts, tree_leaf, 
      tree_level, tree_names, dict_label, 
      dict_value, dict_type, is_sys, 
      description, css_style, css_class, 
      status, create_by, create_date, 
      update_by, update_date, remarks, 
      corp_code, corp_name, extend_s1, 
      extend_s2, extend_s3, extend_s4, 
      extend_s5, extend_s6, extend_s7, 
      extend_s8, extend_i1, extend_i2, 
      extend_i3, extend_i4, extend_f1, 
      extend_f2, extend_f3, extend_f4, 
      extend_d1, extend_d2, extend_d3, 
      extend_d4)
    values (#{dictCode,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, #{parentCodes,jdbcType=VARCHAR}, 
      #{treeSort,jdbcType=DECIMAL}, #{treeSorts,jdbcType=VARCHAR}, #{treeLeaf,jdbcType=CHAR}, 
      #{treeLevel,jdbcType=DECIMAL}, #{treeNames,jdbcType=VARCHAR}, #{dictLabel,jdbcType=VARCHAR}, 
      #{dictValue,jdbcType=VARCHAR}, #{dictType,jdbcType=VARCHAR}, #{isSys,jdbcType=CHAR}, 
      #{description,jdbcType=VARCHAR}, #{cssStyle,jdbcType=VARCHAR}, #{cssClass,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{corpCode,jdbcType=VARCHAR}, #{corpName,jdbcType=VARCHAR}, #{extendS1,jdbcType=VARCHAR}, 
      #{extendS2,jdbcType=VARCHAR}, #{extendS3,jdbcType=VARCHAR}, #{extendS4,jdbcType=VARCHAR}, 
      #{extendS5,jdbcType=VARCHAR}, #{extendS6,jdbcType=VARCHAR}, #{extendS7,jdbcType=VARCHAR}, 
      #{extendS8,jdbcType=VARCHAR}, #{extendI1,jdbcType=DECIMAL}, #{extendI2,jdbcType=DECIMAL}, 
      #{extendI3,jdbcType=DECIMAL}, #{extendI4,jdbcType=DECIMAL}, #{extendF1,jdbcType=DECIMAL}, 
      #{extendF2,jdbcType=DECIMAL}, #{extendF3,jdbcType=DECIMAL}, #{extendF4,jdbcType=DECIMAL}, 
      #{extendD1,jdbcType=TIMESTAMP}, #{extendD2,jdbcType=TIMESTAMP}, #{extendD3,jdbcType=TIMESTAMP}, 
      #{extendD4,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sixliu.credit.user.entity.SysDictData">
    insert into sys_dict_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dictCode != null">
        dict_code,
      </if>
      <if test="parentCode != null">
        parent_code,
      </if>
      <if test="parentCodes != null">
        parent_codes,
      </if>
      <if test="treeSort != null">
        tree_sort,
      </if>
      <if test="treeSorts != null">
        tree_sorts,
      </if>
      <if test="treeLeaf != null">
        tree_leaf,
      </if>
      <if test="treeLevel != null">
        tree_level,
      </if>
      <if test="treeNames != null">
        tree_names,
      </if>
      <if test="dictLabel != null">
        dict_label,
      </if>
      <if test="dictValue != null">
        dict_value,
      </if>
      <if test="dictType != null">
        dict_type,
      </if>
      <if test="isSys != null">
        is_sys,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="cssStyle != null">
        css_style,
      </if>
      <if test="cssClass != null">
        css_class,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="corpCode != null">
        corp_code,
      </if>
      <if test="corpName != null">
        corp_name,
      </if>
      <if test="extendS1 != null">
        extend_s1,
      </if>
      <if test="extendS2 != null">
        extend_s2,
      </if>
      <if test="extendS3 != null">
        extend_s3,
      </if>
      <if test="extendS4 != null">
        extend_s4,
      </if>
      <if test="extendS5 != null">
        extend_s5,
      </if>
      <if test="extendS6 != null">
        extend_s6,
      </if>
      <if test="extendS7 != null">
        extend_s7,
      </if>
      <if test="extendS8 != null">
        extend_s8,
      </if>
      <if test="extendI1 != null">
        extend_i1,
      </if>
      <if test="extendI2 != null">
        extend_i2,
      </if>
      <if test="extendI3 != null">
        extend_i3,
      </if>
      <if test="extendI4 != null">
        extend_i4,
      </if>
      <if test="extendF1 != null">
        extend_f1,
      </if>
      <if test="extendF2 != null">
        extend_f2,
      </if>
      <if test="extendF3 != null">
        extend_f3,
      </if>
      <if test="extendF4 != null">
        extend_f4,
      </if>
      <if test="extendD1 != null">
        extend_d1,
      </if>
      <if test="extendD2 != null">
        extend_d2,
      </if>
      <if test="extendD3 != null">
        extend_d3,
      </if>
      <if test="extendD4 != null">
        extend_d4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dictCode != null">
        #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCodes != null">
        #{parentCodes,jdbcType=VARCHAR},
      </if>
      <if test="treeSort != null">
        #{treeSort,jdbcType=DECIMAL},
      </if>
      <if test="treeSorts != null">
        #{treeSorts,jdbcType=VARCHAR},
      </if>
      <if test="treeLeaf != null">
        #{treeLeaf,jdbcType=CHAR},
      </if>
      <if test="treeLevel != null">
        #{treeLevel,jdbcType=DECIMAL},
      </if>
      <if test="treeNames != null">
        #{treeNames,jdbcType=VARCHAR},
      </if>
      <if test="dictLabel != null">
        #{dictLabel,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictType != null">
        #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="isSys != null">
        #{isSys,jdbcType=CHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="cssStyle != null">
        #{cssStyle,jdbcType=VARCHAR},
      </if>
      <if test="cssClass != null">
        #{cssClass,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="corpCode != null">
        #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="corpName != null">
        #{corpName,jdbcType=VARCHAR},
      </if>
      <if test="extendS1 != null">
        #{extendS1,jdbcType=VARCHAR},
      </if>
      <if test="extendS2 != null">
        #{extendS2,jdbcType=VARCHAR},
      </if>
      <if test="extendS3 != null">
        #{extendS3,jdbcType=VARCHAR},
      </if>
      <if test="extendS4 != null">
        #{extendS4,jdbcType=VARCHAR},
      </if>
      <if test="extendS5 != null">
        #{extendS5,jdbcType=VARCHAR},
      </if>
      <if test="extendS6 != null">
        #{extendS6,jdbcType=VARCHAR},
      </if>
      <if test="extendS7 != null">
        #{extendS7,jdbcType=VARCHAR},
      </if>
      <if test="extendS8 != null">
        #{extendS8,jdbcType=VARCHAR},
      </if>
      <if test="extendI1 != null">
        #{extendI1,jdbcType=DECIMAL},
      </if>
      <if test="extendI2 != null">
        #{extendI2,jdbcType=DECIMAL},
      </if>
      <if test="extendI3 != null">
        #{extendI3,jdbcType=DECIMAL},
      </if>
      <if test="extendI4 != null">
        #{extendI4,jdbcType=DECIMAL},
      </if>
      <if test="extendF1 != null">
        #{extendF1,jdbcType=DECIMAL},
      </if>
      <if test="extendF2 != null">
        #{extendF2,jdbcType=DECIMAL},
      </if>
      <if test="extendF3 != null">
        #{extendF3,jdbcType=DECIMAL},
      </if>
      <if test="extendF4 != null">
        #{extendF4,jdbcType=DECIMAL},
      </if>
      <if test="extendD1 != null">
        #{extendD1,jdbcType=TIMESTAMP},
      </if>
      <if test="extendD2 != null">
        #{extendD2,jdbcType=TIMESTAMP},
      </if>
      <if test="extendD3 != null">
        #{extendD3,jdbcType=TIMESTAMP},
      </if>
      <if test="extendD4 != null">
        #{extendD4,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sixliu.credit.user.entity.SysDictDataExample" resultType="java.lang.Long">
    select count(*) from sys_dict_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_dict_data
    <set>
      <if test="record.dictCode != null">
        dict_code = #{record.dictCode,jdbcType=VARCHAR},
      </if>
      <if test="record.parentCode != null">
        parent_code = #{record.parentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.parentCodes != null">
        parent_codes = #{record.parentCodes,jdbcType=VARCHAR},
      </if>
      <if test="record.treeSort != null">
        tree_sort = #{record.treeSort,jdbcType=DECIMAL},
      </if>
      <if test="record.treeSorts != null">
        tree_sorts = #{record.treeSorts,jdbcType=VARCHAR},
      </if>
      <if test="record.treeLeaf != null">
        tree_leaf = #{record.treeLeaf,jdbcType=CHAR},
      </if>
      <if test="record.treeLevel != null">
        tree_level = #{record.treeLevel,jdbcType=DECIMAL},
      </if>
      <if test="record.treeNames != null">
        tree_names = #{record.treeNames,jdbcType=VARCHAR},
      </if>
      <if test="record.dictLabel != null">
        dict_label = #{record.dictLabel,jdbcType=VARCHAR},
      </if>
      <if test="record.dictValue != null">
        dict_value = #{record.dictValue,jdbcType=VARCHAR},
      </if>
      <if test="record.dictType != null">
        dict_type = #{record.dictType,jdbcType=VARCHAR},
      </if>
      <if test="record.isSys != null">
        is_sys = #{record.isSys,jdbcType=CHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.cssStyle != null">
        css_style = #{record.cssStyle,jdbcType=VARCHAR},
      </if>
      <if test="record.cssClass != null">
        css_class = #{record.cssClass,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.corpCode != null">
        corp_code = #{record.corpCode,jdbcType=VARCHAR},
      </if>
      <if test="record.corpName != null">
        corp_name = #{record.corpName,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS1 != null">
        extend_s1 = #{record.extendS1,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS2 != null">
        extend_s2 = #{record.extendS2,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS3 != null">
        extend_s3 = #{record.extendS3,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS4 != null">
        extend_s4 = #{record.extendS4,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS5 != null">
        extend_s5 = #{record.extendS5,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS6 != null">
        extend_s6 = #{record.extendS6,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS7 != null">
        extend_s7 = #{record.extendS7,jdbcType=VARCHAR},
      </if>
      <if test="record.extendS8 != null">
        extend_s8 = #{record.extendS8,jdbcType=VARCHAR},
      </if>
      <if test="record.extendI1 != null">
        extend_i1 = #{record.extendI1,jdbcType=DECIMAL},
      </if>
      <if test="record.extendI2 != null">
        extend_i2 = #{record.extendI2,jdbcType=DECIMAL},
      </if>
      <if test="record.extendI3 != null">
        extend_i3 = #{record.extendI3,jdbcType=DECIMAL},
      </if>
      <if test="record.extendI4 != null">
        extend_i4 = #{record.extendI4,jdbcType=DECIMAL},
      </if>
      <if test="record.extendF1 != null">
        extend_f1 = #{record.extendF1,jdbcType=DECIMAL},
      </if>
      <if test="record.extendF2 != null">
        extend_f2 = #{record.extendF2,jdbcType=DECIMAL},
      </if>
      <if test="record.extendF3 != null">
        extend_f3 = #{record.extendF3,jdbcType=DECIMAL},
      </if>
      <if test="record.extendF4 != null">
        extend_f4 = #{record.extendF4,jdbcType=DECIMAL},
      </if>
      <if test="record.extendD1 != null">
        extend_d1 = #{record.extendD1,jdbcType=TIMESTAMP},
      </if>
      <if test="record.extendD2 != null">
        extend_d2 = #{record.extendD2,jdbcType=TIMESTAMP},
      </if>
      <if test="record.extendD3 != null">
        extend_d3 = #{record.extendD3,jdbcType=TIMESTAMP},
      </if>
      <if test="record.extendD4 != null">
        extend_d4 = #{record.extendD4,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_dict_data
    set dict_code = #{record.dictCode,jdbcType=VARCHAR},
      parent_code = #{record.parentCode,jdbcType=VARCHAR},
      parent_codes = #{record.parentCodes,jdbcType=VARCHAR},
      tree_sort = #{record.treeSort,jdbcType=DECIMAL},
      tree_sorts = #{record.treeSorts,jdbcType=VARCHAR},
      tree_leaf = #{record.treeLeaf,jdbcType=CHAR},
      tree_level = #{record.treeLevel,jdbcType=DECIMAL},
      tree_names = #{record.treeNames,jdbcType=VARCHAR},
      dict_label = #{record.dictLabel,jdbcType=VARCHAR},
      dict_value = #{record.dictValue,jdbcType=VARCHAR},
      dict_type = #{record.dictType,jdbcType=VARCHAR},
      is_sys = #{record.isSys,jdbcType=CHAR},
      description = #{record.description,jdbcType=VARCHAR},
      css_style = #{record.cssStyle,jdbcType=VARCHAR},
      css_class = #{record.cssClass,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=CHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      corp_code = #{record.corpCode,jdbcType=VARCHAR},
      corp_name = #{record.corpName,jdbcType=VARCHAR},
      extend_s1 = #{record.extendS1,jdbcType=VARCHAR},
      extend_s2 = #{record.extendS2,jdbcType=VARCHAR},
      extend_s3 = #{record.extendS3,jdbcType=VARCHAR},
      extend_s4 = #{record.extendS4,jdbcType=VARCHAR},
      extend_s5 = #{record.extendS5,jdbcType=VARCHAR},
      extend_s6 = #{record.extendS6,jdbcType=VARCHAR},
      extend_s7 = #{record.extendS7,jdbcType=VARCHAR},
      extend_s8 = #{record.extendS8,jdbcType=VARCHAR},
      extend_i1 = #{record.extendI1,jdbcType=DECIMAL},
      extend_i2 = #{record.extendI2,jdbcType=DECIMAL},
      extend_i3 = #{record.extendI3,jdbcType=DECIMAL},
      extend_i4 = #{record.extendI4,jdbcType=DECIMAL},
      extend_f1 = #{record.extendF1,jdbcType=DECIMAL},
      extend_f2 = #{record.extendF2,jdbcType=DECIMAL},
      extend_f3 = #{record.extendF3,jdbcType=DECIMAL},
      extend_f4 = #{record.extendF4,jdbcType=DECIMAL},
      extend_d1 = #{record.extendD1,jdbcType=TIMESTAMP},
      extend_d2 = #{record.extendD2,jdbcType=TIMESTAMP},
      extend_d3 = #{record.extendD3,jdbcType=TIMESTAMP},
      extend_d4 = #{record.extendD4,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sixliu.credit.user.entity.SysDictData">
    update sys_dict_data
    <set>
      <if test="parentCode != null">
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCodes != null">
        parent_codes = #{parentCodes,jdbcType=VARCHAR},
      </if>
      <if test="treeSort != null">
        tree_sort = #{treeSort,jdbcType=DECIMAL},
      </if>
      <if test="treeSorts != null">
        tree_sorts = #{treeSorts,jdbcType=VARCHAR},
      </if>
      <if test="treeLeaf != null">
        tree_leaf = #{treeLeaf,jdbcType=CHAR},
      </if>
      <if test="treeLevel != null">
        tree_level = #{treeLevel,jdbcType=DECIMAL},
      </if>
      <if test="treeNames != null">
        tree_names = #{treeNames,jdbcType=VARCHAR},
      </if>
      <if test="dictLabel != null">
        dict_label = #{dictLabel,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        dict_value = #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictType != null">
        dict_type = #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="isSys != null">
        is_sys = #{isSys,jdbcType=CHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="cssStyle != null">
        css_style = #{cssStyle,jdbcType=VARCHAR},
      </if>
      <if test="cssClass != null">
        css_class = #{cssClass,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="corpCode != null">
        corp_code = #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="corpName != null">
        corp_name = #{corpName,jdbcType=VARCHAR},
      </if>
      <if test="extendS1 != null">
        extend_s1 = #{extendS1,jdbcType=VARCHAR},
      </if>
      <if test="extendS2 != null">
        extend_s2 = #{extendS2,jdbcType=VARCHAR},
      </if>
      <if test="extendS3 != null">
        extend_s3 = #{extendS3,jdbcType=VARCHAR},
      </if>
      <if test="extendS4 != null">
        extend_s4 = #{extendS4,jdbcType=VARCHAR},
      </if>
      <if test="extendS5 != null">
        extend_s5 = #{extendS5,jdbcType=VARCHAR},
      </if>
      <if test="extendS6 != null">
        extend_s6 = #{extendS6,jdbcType=VARCHAR},
      </if>
      <if test="extendS7 != null">
        extend_s7 = #{extendS7,jdbcType=VARCHAR},
      </if>
      <if test="extendS8 != null">
        extend_s8 = #{extendS8,jdbcType=VARCHAR},
      </if>
      <if test="extendI1 != null">
        extend_i1 = #{extendI1,jdbcType=DECIMAL},
      </if>
      <if test="extendI2 != null">
        extend_i2 = #{extendI2,jdbcType=DECIMAL},
      </if>
      <if test="extendI3 != null">
        extend_i3 = #{extendI3,jdbcType=DECIMAL},
      </if>
      <if test="extendI4 != null">
        extend_i4 = #{extendI4,jdbcType=DECIMAL},
      </if>
      <if test="extendF1 != null">
        extend_f1 = #{extendF1,jdbcType=DECIMAL},
      </if>
      <if test="extendF2 != null">
        extend_f2 = #{extendF2,jdbcType=DECIMAL},
      </if>
      <if test="extendF3 != null">
        extend_f3 = #{extendF3,jdbcType=DECIMAL},
      </if>
      <if test="extendF4 != null">
        extend_f4 = #{extendF4,jdbcType=DECIMAL},
      </if>
      <if test="extendD1 != null">
        extend_d1 = #{extendD1,jdbcType=TIMESTAMP},
      </if>
      <if test="extendD2 != null">
        extend_d2 = #{extendD2,jdbcType=TIMESTAMP},
      </if>
      <if test="extendD3 != null">
        extend_d3 = #{extendD3,jdbcType=TIMESTAMP},
      </if>
      <if test="extendD4 != null">
        extend_d4 = #{extendD4,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dict_code = #{dictCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sixliu.credit.user.entity.SysDictData">
    update sys_dict_data
    set parent_code = #{parentCode,jdbcType=VARCHAR},
      parent_codes = #{parentCodes,jdbcType=VARCHAR},
      tree_sort = #{treeSort,jdbcType=DECIMAL},
      tree_sorts = #{treeSorts,jdbcType=VARCHAR},
      tree_leaf = #{treeLeaf,jdbcType=CHAR},
      tree_level = #{treeLevel,jdbcType=DECIMAL},
      tree_names = #{treeNames,jdbcType=VARCHAR},
      dict_label = #{dictLabel,jdbcType=VARCHAR},
      dict_value = #{dictValue,jdbcType=VARCHAR},
      dict_type = #{dictType,jdbcType=VARCHAR},
      is_sys = #{isSys,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      css_style = #{cssStyle,jdbcType=VARCHAR},
      css_class = #{cssClass,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      corp_code = #{corpCode,jdbcType=VARCHAR},
      corp_name = #{corpName,jdbcType=VARCHAR},
      extend_s1 = #{extendS1,jdbcType=VARCHAR},
      extend_s2 = #{extendS2,jdbcType=VARCHAR},
      extend_s3 = #{extendS3,jdbcType=VARCHAR},
      extend_s4 = #{extendS4,jdbcType=VARCHAR},
      extend_s5 = #{extendS5,jdbcType=VARCHAR},
      extend_s6 = #{extendS6,jdbcType=VARCHAR},
      extend_s7 = #{extendS7,jdbcType=VARCHAR},
      extend_s8 = #{extendS8,jdbcType=VARCHAR},
      extend_i1 = #{extendI1,jdbcType=DECIMAL},
      extend_i2 = #{extendI2,jdbcType=DECIMAL},
      extend_i3 = #{extendI3,jdbcType=DECIMAL},
      extend_i4 = #{extendI4,jdbcType=DECIMAL},
      extend_f1 = #{extendF1,jdbcType=DECIMAL},
      extend_f2 = #{extendF2,jdbcType=DECIMAL},
      extend_f3 = #{extendF3,jdbcType=DECIMAL},
      extend_f4 = #{extendF4,jdbcType=DECIMAL},
      extend_d1 = #{extendD1,jdbcType=TIMESTAMP},
      extend_d2 = #{extendD2,jdbcType=TIMESTAMP},
      extend_d3 = #{extendD3,jdbcType=TIMESTAMP},
      extend_d4 = #{extendD4,jdbcType=TIMESTAMP}
    where dict_code = #{dictCode,jdbcType=VARCHAR}
  </update>
</mapper>