<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sixliu.user.dao.UserDao" >

    <resultMap id="EntityResult" type="com.sixliu.user.entity.UserEntity" >
        <id column="id"                          property="id"              jdbcType="VARCHAR" />
        <result column="name"                    property="name"            jdbcType="VARCHAR" />
        <result column="nickname"                property="nickname"        jdbcType="VARCHAR" />
        <result column="password"                property="password"        jdbcType="VARCHAR" />
        <result column="mobile_no"               property="mobileNo"        jdbcType="VARCHAR" />
        <result column="email"                   property="email"           jdbcType="VARCHAR" />      
        <result column="remarks"                 property="remarks"         jdbcType="VARCHAR" />
        <result column="version"                 property="version"         jdbcType="INTEGER" />
        <result column="is_delete"               property="delete"          jdbcType="INTEGER" />
        <result column="update_user_id"          property="updateUserId"    jdbcType="VARCHAR" />
        <result column="update_date"             property="updateDate"      jdbcType="TIMESTAMP" />
        <result column="create_user_id"          property="createUserId"    jdbcType="VARCHAR" />
        <result column="create_date"             property="createDate"      jdbcType="TIMESTAMP" />
    </resultMap>
    
    <parameterMap id="EntityParameter" type="com.sixliu.user.entity.UserEntity"/>
    
    <!-- 表名-->
    <sql id="table_name">user</sql>
    
    <!-- 查询通用列 -->
    <sql id="select_common_column">
    	select `id`,`name`, nickname,`password`,mobile_no,email,`remarks`,`version`,is_delete,update_user_id,update_date,create_user_id,create_date
    </sql>
    
	<select id="get" resultMap="EntityResult">
		<include refid="select_common_column"/>
		from 
		<include refid="table_name"/>
        where `id`=#{id}
    </select>
    
    <insert id="add" parameterMap="EntityParameter">
    	<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
              select uuid()
    	</selectKey>
    	insert into 
    	<include refid="table_name"/>
    	       (`id`,`name`,nickname,`password`,mobile_no,email,`remarks`,`version`,is_delete,update_user_id,update_date,create_user_id,create_date)
    	 values(#{id},#{name},#{nickname},#{password},#{mobileNo},#{email},#{remarks},#{version},#{delete},#{updateUserId},#{updateDate},#{createUserId},#{createDate})
	</insert>
	
	<update id="update" parameterMap="EntityParameter">
		update 
		<include refid="table_name"/>
		set `name`=#{name},            nickname=#{name},                `password`=#{name},
		     mobile_no=#{name},        email=#{name},                    `remarks`=#{name},
		     `version`=version+1,      update_user_id=#{createUserId},   update_date=#{createDate}
		where `id`=#{id} 
		and   `version`=#{version} 
	</update>
	
	<delete id="delete">
		delete from 
		<include refid="table_name"/>
		where `id`=#{id}
		and   `version`=#{version} 
	</delete>

</mapper>