<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sixliu.creditloan.workflow.dao.WorkflowJobDao" >

    <resultMap id="WorkflowJobResult" type="com.sixliu.creditloan.workflow.entity.WorkflowJob" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="model_id" property="modelId" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="lock_url" property="lockUrl" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <parameterMap id="WorkflowJobParameter" type="com.sixliu.creditloan.workflow.entity.WorkflowJob"/>
    
    <!-- from 表 -->
    <sql id="from_table">
    	from workflow_job
    </sql>
    

    
    <!-- 查询通用列 -->
    <sql id="select_common_column">
    	select 
    		`id`,
	        `name`,
	        model_id,
	        `status`,
	        lock_url,
	        `remarks`,
	        `version`,
	        update_user_id,
	        update_date,
	        create_user_id,
	        create_date
    </sql>
    
    <!-- intsert to 表 -->
    <sql id="insert_common_table">
    	insert into workflow_job(`id`,
    								`name`,
    								model_id,
    								`status`,
    	 							`remarks`,
    	 							update_user_id,
    	 							create_user_id
    	 							)
    	 					 values(#{id},
    	 							#{name},
    	 							#{modelId},
    	 							#{status},
    		   						#{remarks},
    		   						#{updateUserId},
    		   						#{createUserId}
    		   						)
    </sql>

	<sql id="update_from_table">
    	update workflow_job
    </sql>
    
    <sql id="delete_from_table">
    	delete from workflow_job
    </sql>
    
	<select id="get" resultMap="WorkflowJobResult">
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where 1=1
        and `id` =#{id}
    </select>
    
    <insert id="insert" parameterMap="WorkflowJobParameter">
    	<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
              select uuid()
    	</selectKey>
    	<include refid="insert_common_table"></include>
	</insert>
	
	<select id="listLockJobs" resultMap="WorkflowJobResult">
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where `lock_url` is not null
    </select>
    
    <update id="tryLock">
    	<include refid="update_from_table"/>
    	set lock_url=#{lockUrl},version=#{version}+1
    	where `id`=#{id}
    	and   `version`=#{version}
    </update>
    
    <update id="unlock">
    	<include refid="update_from_table"/>
    	set lock_url=null,version=#{version}+1
    	where `id`=#{id}
    	and   `version`=#{version}
    </update>
	
	<delete id="delete">
		<include refid="delete_from_table"/>
		where `id`=#{id}
	</delete>

</mapper>