<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sixliu.creditloan.workflow.dao.WorkflowTaskOpinionDao" >

    <resultMap id="WorkflowTaskOpinionResult" type="com.sixliu.creditloan.workflow.entity.WorkflowTaskOpinion" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="job_id" property="jobId" jdbcType="VARCHAR" />
        <result column="task_id" property="taskId" jdbcType="VARCHAR" />
        <result column="inner_opinion" property="innerOpinion" jdbcType="INTEGER" />
        <result column="outer_opinion" property="outerOpinion" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <parameterMap id="WorkflowTaskOpinionParameter" type="com.sixliu.creditloan.workflow.entity.WorkflowTaskOpinion"/>
    
    <!-- from 表 -->
    <sql id="from_table">
    	from workflow_task_opinion
    </sql>
    

    
    <!-- 查询通用列 -->
    <sql id="select_common_column">
    	select 
    		`id`,
	        job_id,
	        task_id,
	        inner_opinion,
	        outer_opinion,
	        `remarks`,
	        `version`,
	        update_user_id,
	        update_date,
	        create_user_id,
	        create_date
    </sql>
    
    <!-- intsert to 表 -->
    <sql id="insert_common_table">
    	insert into workflow_task_opinion(`id`,
    								job_id,
    								task_id,
    								inner_opinion,
    								outer_opinion,
    	 							`remarks`,
    	 							update_user_id,
    	 							create_user_id
    	 							)
    	 					 values(#{id},
    	 							#{jobId},
    	 							#{taskId},
    	 							#{innerOpinion},
    	 							#{outerOpinion},
    		   						#{remarks},
    		   						#{updateUserId},
    		   						#{createUserId}
    		   						)
    </sql>

    <sql id="delete_from_table">
    	delete from workflow_task_opinion
    </sql>
    
	<select id="get" resultMap="WorkflowTaskOpinionResult">
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where 1=1
        and `id` =#{id}
    </select>
    
    <insert id="insert" parameterMap="WorkflowTaskOpinionParameter">
    	<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
              select uuid()
    	</selectKey>
    	<include refid="insert_common_table"></include>
	</insert>
	
	<select id="getByTaskId" resultMap="WorkflowTaskOpinionResult">
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where 1=1
        and task_id =#{taskId}
    </select>
    	
</mapper>