<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sixliu.creditloan.workflow.dao.WorkflowTaskWorkerModelDao" >

    <resultMap id="WorkflowTaskWorkerModelResult" type="com.sixliu.creditloan.workflow.entity.WorkflowTaskWorkerModel" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="task_id" property="taskId" jdbcType="VARCHAR" />
        <result column="check_interval" property="checkInterval" jdbcType="INTEGER" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <parameterMap id="WorkflowTaskWorkerModelParameter" type="com.sixliu.creditloan.workflow.entity.WorkflowTaskWorkerModel"/>
    
    <!-- from 表 -->
    <sql id="from_table">
    	from workflow_task_worker_model
    </sql>
    

    
    <!-- 查询通用列 -->
    <sql id="select_common_column">
    	select 
    		`id`,
	        `name`,
	        task_id,
	        check_interval,
	        `url`,
	        `remarks`,
	        `version`,
	        update_user_id,
	        update_date,
	        create_user_id,
	        create_date
    </sql>
    
    <!-- intsert to 表 -->
    <sql id="insert_common_table">
    	insert into workflow_task_worker_model(`id`,
    								`name`,
    								task_id,
    								check_interval,
    								`url`,
    	 							`remarks`,
    	 							update_user_id,
    	 							create_user_id
    	 							)
    	 					 values(#{id},
    	 							#{name},
    	 							#{taskId},
    	 							#{checkInterval},
    	 							#{url},
    		   						#{remarks},
    		   						#{updateUserId},
    		   						#{createUserId}
    		   						)
    </sql>

    <sql id="delete_from_table">
    	delete from workflow_task_worker_model
    </sql>
    
	<select id="get" resultMap="WorkflowTaskWorkerModelResult">
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where 1=1
        and `id` =#{id}
    </select>
    
    <select id="getByTaskId" resultMap="WorkflowTaskWorkerModelResult">
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where 1=1
        and `task_id` =#{taskId}
    </select>
    
    <insert id="insert" parameterMap="WorkflowTaskWorkerModelParameter">
    	<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
              select uuid()
    	</selectKey>
    	<include refid="insert_common_table"></include>
	</insert>

</mapper>