<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sixliu.creditloan.product.dao.loan.LoanPriceConfigDao">

    <resultMap id="LoanPriceConfigResult" type="com.sixliu.creditloan.product.entity.loan.LoanPriceConfig" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="product_id" property="productId" jdbcType="VARCHAR" />
        <result column="flow_job_modle_id" property="flowJobModleId" jdbcType="VARCHAR" />
        <result column="min_single_loan_amount" property="minSingleLoanAmount" jdbcType="DECIMAL"/>
        <result column="max_single_loan_amount" property="maxSingleLoanAmount" jdbcType="DECIMAL"/>
        <result column="loan_term_type" property="loanTermType" jdbcType="VARCHAR"/>
        <result column="min_single_loan_term" property="minSingleLoanTerm" jdbcType="INTEGER"/>
        <result column="max_single_loan_term" property="maxSingleLoanTerm" jdbcType="INTEGER"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <parameterMap id="LoanPriceConfigParameter" type="com.sixliu.creditloan.product.entity.loan.LoanPriceConfig"/>
    
    <!-- from 表 -->
    <sql id="from_table">
    	from loan_price_config
    </sql>
    
    <!-- 查询通用列 -->
    <sql id="select_common_column">
    	select 
    		`id`,
	        product_id,
	        flow_job_modle_id,
	        min_single_loan_amount,	 
	        max_single_loan_amount,
	        loan_term_type,
	        min_single_loan_term,
	        max_single_loan_term,
	        `remarks`,
	        `version`,
	        update_user_id,
	        update_date,
	        create_user_id,
	        create_date
	</sql>
	
    <!-- intsert to 表 -->
    <sql id="insert_common_table">
    	insert into loan_price_config(
    								id,
    								product_id,
    								flow_job_modle_id,
    								min_single_loan_amount,   					
  									max_single_loan_amount,
  									loan_term_type,
  									min_single_loan_term,
  									max_single_loan_term,
    	 							`remarks`,
    	 							update_user_id,
    	 							create_user_id
    	 							)
    	 					 values(#{id},
    	 							#{productId},
    	 							#{flowJobModleId},
    	 							#{minSingleLoanAmount},
    		   						#{maxSingleLoanAmount},
    		   						#{loanTermType},
    		   						#{minSingleLoanTerm},	
    		   						#{maxSingleLoanTerm},	   						
    		   						#{remarks},
    		   						#{updateUserId},
    		   						#{createUserId}
    		   						)
    </sql>

    <sql id="delete_from_table">
    	delete from loan_price_config
    </sql>
    
	<select id="get" resultMap="ProductLoanConfigResult" >
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where 1=1
        and `id` =#{id}
    </select>
    
    <select id="getByProductId" resultMap="ProductLoanConfigResult" >
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where 1=1
        and product_id =#{productId}
    </select>
    
    <insert id="insert" parameterMap="ProductLoanConfigParameter">
    	<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
              select uuid()
    	</selectKey>
    	<include refid="insert_common_table"/>
	</insert>
	
</mapper>