<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sixliu.creditloan.product.dao.ProductConfigDao" >
    <!-- 产品(product)属性和表字段映射 -->
    
    <resultMap id="ProductConfigResult" type="com.sixliu.creditloan.product.entity.ProductConfig" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="type_id" property="typeId" jdbcType="INTEGER" />
        <result column="priority" property="priority" jdbcType="INTEGER" />
        <result column="creditlimit_id" property="creditlimitId" jdbcType="VARCHAR" />
        <result column="effective" property="effective" jdbcType="BOOLEAN" />
        <result column="effective_date" property="effectiveDate" jdbcType="DATE" />
        <result column="expire_date" property="expireDate" jdbcType="DATE" />            
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <parameterMap id="ProductConfigParameter" type="com.sixliu.creditloan.product.entity.ProductConfig"/>
    
    <!-- from 表 -->
    <sql id="from_table">
    	from product_config
    </sql>
    

    
    <!-- 查询通用列 -->
    <sql id="select_common_column">
    	select 
    		`id`,
	        `code`,
	        `name`,
	        type_id,
	        `priority`,
	        creditlimit_id,
	        effective,
	        effective_date,
	        expire_date,
	        `remarks`,
	        `version`,
	        update_user_id,
	        update_date,
	        create_user_id,
	        create_date
    </sql>
    
    <!-- intsert to 表 -->
    <sql id="insert_common_table">
    	insert into product_config(`id`,
    								`code`,
    								`name`,
    								type_id,
    								`priority`,
    								creditlimit_id,
  									effective,
    	 							effective_date,
    	 							expire_date,
    	 							`remarks`,
    	 							update_user_id,
    	 							create_user_id
    	 							)
    	 					 values(#{id},
    	 							#{code},
    	 							#{name},
    	 							#{typeId},
    	 							#{priority},
    	 							#{creditlimitId},	 	
    		   						#{effective},
    		   						#{effectiveDate},
    		   						#{expireDate},
    		   						#{remarks},
    		   						#{updateUserId},
    		   						#{createUserId}
    		   						)
    </sql>

    <sql id="delete_from_table">
    	delete from product_config
    </sql>
    
	<select id="get" resultMap="ProductConfigResult">
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where 1=1
        and `id` =#{id}
    </select>
    
    <select id="getByCode" resultMap="ProductConfigResult">
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where 1=1
        and `code` =#{code}
    </select>
    
    <select id="listAll" resultMap="ProductConfigResult">
		<include refid="select_common_column"/>
		<include refid="from_table"/>
    </select>
   
    <insert id="insert" parameterMap="ProductConfigParameter">
    	<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
              select uuid()
    	</selectKey>
    	<include refid="insert_common_table"></include>
	</insert> 
	
	<delete id="delete">
		<include refid="delete_from_table"/>
		where `id`=#{id}
	</delete>
	
	<delete id="deleteByCode">
		<include refid="delete_from_table"/>
		where `code`=#{code}
	</delete>
</mapper>