<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sixliu.creditloan.product.dao.credit.ProductCreditConfigDao">

    <resultMap id="ProductCreditConfigResult" type="com.sixliu.creditloan.product.entity.credit.ProductCreditConfig" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="product_id" property="productId" jdbcType="VARCHAR" />
        <result column="creditApply_mutex_type" property="creditApplyMutexType" jdbcType="INTEGER" />
        <result column="use_blacklist_group_id" property="useBlacklistGroupId" jdbcType="INTEGER"/>
        <result column="loop_creditlimit" property="loopCreditlimit" jdbcType="INTEGER"/>
        <result column="increase_creditlimit" property="increaseCreditlimit" jdbcType="INTEGER"/>
        <result column="decrease_creditlimit" property="decreaseCreditlimit" jdbcType="INTEGER"/>
        <result column="link_customer_base_creditlimit" property="linkCustomerBaseCreditlimit" jdbcType="INTEGER"/>
        <result column="credit_apply_max_months" property="creditApplyMaxMonths" jdbcType="INTEGER"/>
        <result column="credit_apply_flow_modle_id" property="creditApplyFlowModleId" jdbcType="VARCHAR"/>
        <result column="credit_apply_reject_influence_days" property="creditApplyRejectInfluenceDays" jdbcType="INTEGER"/>
        <result column="min_creditlimit" property="minCreditlimit" jdbcType="INTEGER"/>
        <result column="max_creditlimit" property="maxCreditlimit" jdbcType="INTEGER"/>
        <result column="creditlimit_effective_months" property="creditlimitEffectiveMonths" jdbcType="INTEGER"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <parameterMap id="ProductCreditConfigParameter" type="com.sixliu.creditloan.product.entity.credit.ProductCreditConfig"/>
    
    <!-- from 表 -->
    <sql id="from_table">
    	from product_credit_config
    </sql>
    
    <!-- 查询通用列 -->
    <sql id="select_common_column">
    	select 
    		`id`,
	        product_id,
	        creditApply_mutex_type,
	        use_blacklist_group_id,
	        loop_creditlimit,
	        increase_creditlimit,
	        decrease_creditlimit,
	        link_customer_base_creditlimit,
	        credit_apply_max_months,
	        credit_apply_flow_modle_id,
	        credit_apply_reject_influence_days,
	        min_creditlimit,
	        max_creditlimit,
	        creditlimit_effective_months,
	        `remarks`,
	        `version`,
	        update_user_id,
	        update_date,
	        create_user_id,
	        create_date
	</sql>
	
    <!-- intsert to 表 -->
    <sql id="insert_common_table">
    	insert into product_credit_config(
    								id,
    								product_id,
    								creditApply_mutex_type,
    								use_blacklist_group_id,
    								loop_creditlimit,
    								increase_creditlimit,
  									decrease_creditlimit,  									
  									link_customer_base_creditlimit,
  									credit_apply_max_months,
  									credit_apply_flow_modle_id,
  									credit_apply_reject_influence_days,
  									min_creditlimit,
  									max_creditlimit,
  									creditlimit_effective_months,
    	 							`remarks`,
    	 							update_user_id,
    	 							create_user_id
    	 							)
    	 					 values(#{id},
    	 							#{productId},
    	 							#{creditApplyMutexType},
    	 							#{useBlacklistGroupId},
    	 							#{loopCreditlimit},   	 	
    		   						#{increaseCreditlimit},   		   						
    		   						#{decreaseCreditlimit},
    		   						#{linkCustomerBaseCreditlimit},
    		   						#{creditApplyMaxMonths},
    		   						#{creditApplyFlowModleId},
    		   						#{creditApplyRejectInfluenceDays},
    		   						#{minCreditlimit},
    		   						#{maxCreditlimit},
    		   						#{creditlimitEffectiveMonths},   		   						
    		   						#{remarks},
    		   						#{updateUserId},
    		   						#{createUserId}
    		   						)
    </sql>

    <sql id="delete_from_table">
    	delete from product_credit_config
    </sql>
    
	<select id="get" resultMap="ProductCreditConfigResult" >
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where 1=1
        and `id` =#{id}
    </select>
    
    <select id="getByProductId" resultMap="ProductCreditConfigResult" >
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where 1=1
        and product_id =#{productId}
    </select>
    
    <insert id="insert" parameterMap="ProductCreditConfigParameter">
    	<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
              select uuid()
    	</selectKey>
    	<include refid="insert_common_table"/>
	</insert>
	
</mapper>