<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sixliu.flow.dao.FlowTaskModelDao" >
    <!-- 产品(product)属性和表字段映射 -->
    
    <resultMap id="FlowTaskModelResult" type="com.sixliu.flow.entity.FlowTaskModel" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />     
        <result column="phase" property="phase" jdbcType="INTEGER" />  
        <result column="type" property="type" jdbcType="INTEGER" />    
        <result column="worker" property="worker" jdbcType="VARCHAR" />   
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <parameterMap id="FlowTaskModelParameter" type="com.sixliu.flow.entity.FlowTaskModel"/>
    
    <!-- from 表 -->
    <sql id="from_table">
    	from flow_task_model
    </sql>
    

    
    <!-- 查询通用列 -->
    <sql id="select_common_column">
    	select 
    		`id`,
	        `name`,
	        `phase`,
	        `type`,
	        `worker`,
	        `remarks`,
	        `version`,
	        update_user_id,
	        update_date,
	        create_user_id,
	        create_date
    </sql>
    
    <!-- intsert to 表 -->
    <sql id="insert_common_table">
    	insert into flow_task_model(`id`,
    								`name`,
    								`phase`,
    								`type`,
    								`worker`,
    	 							`remarks`,
    	 							update_user_id,
    	 							update_date,
    	 							create_user_id,
    	 							create_date
    	 							)
    	 					 values(#{id},
    	 							#{name},
    	 							#{phase},
    	 							#{type},
    	 							#{worker},
    		   						#{remarks},
    		   						#{updateUserId},
    		   						#{updateDate},
    		   						#{updateUserId},
    		   						#{createDate}
    		   						)
    </sql>

    <sql id="delete_from_table">
    	delete from flow_task_model
    </sql>
    
    <insert id="insert" parameterMap="FlowTaskModelParameter">
    	<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
              select uuid()
    	</selectKey>
    	<include refid="insert_common_table"></include>
	</insert> 

	<select id="get" resultMap="FlowTaskModelResult" >
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where `id` =#{id}
    </select>
    
</mapper>